# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
.tmp/

# Model Checkpoints (Ignore heavy .ckpt files, track directory structure via .gitkeep)
checkpoints/*
!checkpoints/.gitkeep

# Large Datasets & Resampled Cache (Ignore heavy files, track directory structure via .gitkeep)
*.parquet
*.npz
data/raw/*
data/preprocessed/*
data/splitted/*
data/resampled_cache/*
!data/**/*.gitkeep

# Experiment Results (Ignore backup excel copies, track directory structure via .gitkeep)
results/backup_master_results.csv
!results/.gitkeep

# Local User Configurations / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS temporary files
.DS_Store
Thumbs.db